.header {
    display: flex;
    background-color: #13293D;
    color:#E8F1F2;
    height: 80px;
    justify-content: space-between;
    justify-content: center;
}

.title {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.title:hover {
    cursor: pointer;
}